# IDE artifacts
.idea/*
*.sh
data/*
!data/pos/
data/pos/*
!data/pos/*.py
!data/pos/*.jsonl
!data/deps/
data/deps/*
!data/deps/*.py
!data/deps/*.jsonl
!data/ld/
data/ld/*
!data/ld/*.py
!data/ld/*.jsonl
models/*
yue-*/*
*.zip
